<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About: Wyatt Neigut's Data Journalism Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
{% include 'bar.html' %}
<body>
    <div style="margin-left:15px">
        <h1>About the Historical Consumer Price Index</h1>
        <p>Here's a brief description of the project:
            My project is about how the price of food has increased since 1974. From 1974 to 2022, I found data on multiple different categories of food. Some examples are fruit prices, dairy products, meat prices, etc.
        </p>

        <h1>Data Cleansing Pipeline</h1>
        <p>The data cleansing process consists of several steps to clean and format the data for analysis. This converts the cleansed CSV data into a JSON object formatted for generating SVG graphs.</p>

    <h1>
        My data cleansing pipeline:
    </h1>
    <p>
        <ol>
          <li>First, I found a set of data on Google that contained data about tons of different types of food.</li>
          <li>I then imported my data into Google Sheets and cleansed it of unnecessary information.</li>
          <li>Next, I downloaded the Sheet data as a CSV and imported it into VS Code.</li>
          <li>Finally, I combined and organized the dataset into a dictionary (by year, and then by category of food)</li>
        </ol>
    </p>

    <h2>Prototyping:</h2>
            <img src="/static/macro.jpg" alt="macro" width="200" height="200"> 
            <img src="/static/micro.jpg" alt="micro" width="200" height="200">

    <h2>Contact:</h2>
        <p>If you have any questions or feedback, please contact me at [wyatt.neigut24@trinityschoolnyc.org].</p>

{% include 'footer.html' %}
</div>
</body>
</html>
