<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About: Wyatt Neigut's Data Journalism Project</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 0;
        }
        h1 {
            color: #333;
        }
        p {
            color: #666;
            line-height: 1.6;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
        }
    </style>
</head>
{% include 'bar.html' %}
<body>
    <div class="container">
        <h1>About the Historical CPI - </h1>
        <p>Here's a brief description of the project:</p>

        <h2>Data Cleansing Pipeline</h2>
        <p>The data cleansing process consists of several steps to clean and format the data for analysis. The main script responsible for formatting the data is <a href="data/format_data.py">format_data.py</a>. This converts the cleansed CSV data into a JSON object formatted for generating SVG graphs.</p>

        <h2>Contact</h2>
        <p>If you have any questions or feedback, please contact me at [wyatt.neigut24@trinityschoolnyc.org].</p>
    </div>
    <h5>
        My data cleansing pipeline:
        <ol>
          <li>Imported my data into Google Sheets and cleansed it of unnecessary information.</li>
          <li>Combined and organized the dataset into a dictionary (by year, and then by category of food)</li>
          <li>Insert</li>
          <li>Insert</li>
          <li>Insert</li>
        </ol>
      </h5>
{% include 'footer.html' %}
</body>
</html>
