<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href={{url_for("index")}}>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href={{url_for("about")}}>About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
              <ul class="dropdown-menu" id="dropdownStuff" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/micro" onclick="location.href ='/micro?foodType=All_food';return false">All food</a></li>
                <li><a class="dropdown-item" href="/micro" onclick="location.href ='/micro?foodType=All_food';return false">Food away from home</a></li>
                <li><a class="dropdown-item" href="/micro" onclick="location.href ='/micro?foodType=All_food';return false">Food at home</a></li>
                <li><a class="dropdown-item" href="/micro" onclick="location.href ='/micro?foodType=All_food';return false">Meats, poultry, and fish</a></li>
                <li><a class="dropdown-item" href="/micro" onclick="location.href ='/micro?foodType=All_food';return false">Meats</a></li>
                <li><a class="dropdown-item" href="/micro" onclick="location.href ='/micro?foodType=All_food';return false">Beef and veal</a></li>
                <li><a class="dropdown-item" href="/micro" onclick="location.href ='/micro?foodType=All_food';return false">Pork</a></li>
                <li><a class="dropdown-item" href="/micro" onclick="location.href ='/micro?foodType=All_food';return false">Other meats</a></li>
                <li><a class="dropdown-item" href="/micro" onclick="location.href ='/micro?foodType=All_food';return false">Fish and seafood</a></li>
                <li><a class="dropdown-item" href="/micro" onclick="location.href ='/micro?foodType=All_food';return false">Eggs</a></li>
                <li><a class="dropdown-item" href="/micro" onclick="location.href ='/micro?foodType=All_food';return false">Dairy Products</a></li>
                <li><a class="dropdown-item" href="/micro" onclick="location.href ='/micro?foodType=All_food';return false">Fats and oils</a></li>
                <li><a class="dropdown-item" href="/micro" onclick="location.href ='/micro?foodType=All_food';return false">Fruits and vegetables</a></li>
                <li><a class="dropdown-item" href="/micro" onclick="location.href ='/micro?foodType=All_food';return false">Fresh fruits and vegetables</a></li>
                <li><a class="dropdown-item" href="/micro" onclick="location.href ='/micro?foodType=All_food';return false">Fresh fruits</a></li>
                <li><a class="dropdown-item" href="/micro" onclick="location.href ='/micro?foodType=All_food';return false">Fresh vegetables</a></li>
                <li><a class="dropdown-item" href="/micro" onclick="location.href ='/micro?foodType=All_food';return false">Sugar and sweets</a></li>
                <li><a class="dropdown-item" href="/micro" onclick="location.href ='/micro?foodType=All_food';return false">Cereals and bakery products</a></li>
                <li><a class="dropdown-item" href="/micro" onclick="location.href ='/micro?foodType=All_food';return false">Nonalcoholic beverages</a></li>
                <li><a class="dropdown-item" href="/micro" onclick="location.href ='/micro?foodType=All_food';return false">Other foods</a></li>
              </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>